
@{
}

@* Grabs the data from the form to be a list  *@
@model List<Form>

@* The table is created *@
<table class="table table-bordered">    
    <thead class="fw-bold">
    <tr>
        <td>Category</td>
        <td>Title</td>
        <td>Year</td>
        <td>Director</td>
        <td>Rating</td>
        <td>Edited</td>
        <td>Lent To</td>
        <td>Copied To Plex</td>
        <td>Notes</td>
    </tr>
    
    </thead>
    
    @* For each data piece in the data set the respective column is added. *@
    @foreach (var x in Model)
    {
        <tbody>
        <tr>
            @* <td>@x.MovieID</td> *@
            <td>@x.Categories.CategoryName</td>
            <td>@x.Title</td>
            <td>@x.Year</td>
            <td>@x.Director</td>
            <td>@x.Rating</td>
            <td>@x.Edited</td>
            <td>@x.LentTo</td>
            <td>@x.CopiedToPlex</td>
            <td>@x.Notes</td>

            @* The edit and delete buttons are added *@
            <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-formId="@x.MovieId">Edit</a></td>
            <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-formId="@x.MovieId">Delete</a></td>

        </tr>
        </tbody>
    }
   

</table>